* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100dvh;
    font-family: courier new;
    background: black;
    display: flex;
    flex-direction: column;
}

.header {
    background: black;
    color: white;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: 500;
    font-family: courier new !important;
}
.header .logo {
    width: 50px;
    height: 50px;
}
.header .logor {
    height: 35px;
    display: block !important;
    position: absolute !important;
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 10;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.header {
    padding: 0 15px;
}
